{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <h3>Form</h3>
            {{text|safe}}
            <hr>
            <form enctype="multipart/form-data" action="" method="post">
                {% csrf_token %}
                {{form|crispy}}
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block jquery %}
<script>
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1940:2100",
      // You can put more options here.
      dateFormat: 'yy-mm-dd',
    });
  });
</script>
{% endblock %}