<script>
  $(".id_data").on('click', function(){
    var id_row = $(this).attr("data-id")
    console.log(id_row)

    data = {
      'id_row': id_row,
    }
    $.ajax({
      type: "GET",
      url: "{% url 'get_id_data'%}",
      data: data,
      dataType: "json",
      success: function(data){
      console.log("This is id data")
        console.log(data)
        console.log(data.fields.nativeName)
        $("#id_row_data").val(data.pk)
        $("#id_id_openData").val(data.fields.id_openData)
        $("#id_nativeName").val(data.fields.nativeName)
        $("#id_fullAddress").html(data.fields.fullAddress)
        $("#id_municipality").val(data.fields.municipality)
        $("#id_locality").val(data.fields.locality)

        if (data.fields.OKN_in_ensemble == false){
          $("#id_OKN_in_ensemble").prop('checked', false);
        } else {
          $("#id_OKN_in_ensemble").prop('checked', true);
        }


        $("#id_information_sign").val(data.fields.information_sign)
        $("#id_information_sign_photo").val(data.fields.information_sign_photo)

        if (data.fields.information_sign_conformity == false){
          $("#id_information_sign_conformity").prop('checked', false);
        } else {
          $("#id_information_sign_conformity").prop('checked', true);
        }

        $("#id_photo").val(data.fields.photo)
        $("#id_url").val(data.fields.url)
        $("#id_description").val(data.fields.description)

        if (data.fields.affiliation_U == false){
          $("#id_affiliation_U").prop('checked', false);
        } else {
          $("#id_affiliation_U").prop('checked', true);
        }

        if (data.fields.id_esp_valuable_object == false){
          $("#id_esp_valuable_object").prop('checked', false);
        }else{
          $("#id_esp_valuable_object").prop('checked', true);
        }


        $("#id_requisites_and_title").html(data.fields.requisites_and_title)
        $("#id_owner").val(data.fields.owner)
        $("#id_management").val(data.fields.management)
        $("#id_owner_contacts").val(data.fields.owner_contacts)
        $("#id_has_security_obligation").val(data.fields.has_security_obligation)
        $("#id_has_passport_OKN").val(data.fields.has_passport_OKN)
        $("#id_actual_address").val(data.fields.actual_address)
        $("#id_gen_species_appearance").val(data.fields.gen_species_appearance)
        $("#id_req_of_approval").html(data.fields.req_of_approval)

        if (data.fields.has_docs_boundaries == false){
          $("#id_has_docs_boundaries").prop('checked', false);
        } else {
          $("#id_has_docs_boundaries").prop('checked', true);
        }

        if (data.fields.has_docs_of_aprroval == false){
          $("#id_has_docs_of_aprroval").prop('checked', false);
        } else {
          $("#id_has_docs_of_aprroval").prop('checked', true);
        }

        $("#id_document_on_approved_security").val(data.fields.document_on_approved_security)

        if (data.fields.has_rights == false){
          $("#id_has_rights").prop('checked', false);
        } else {
          $("#id_has_rights").prop('checked', true);
        }


        $("#id_date").val(data.fields.date)
      }
    })
  })
</script>